@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 class="text-center mb-4">Register</h3>
            <form asp-action="Register" asp-controller="User" method="post">
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="text" name="Email" class="form-control" placeholder="Enter Email" required />
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" name="Password" class="form-control" placeholder="Enter password" required />
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="text-center mt-3">
                    <p class="mb-0">
                        Already have an account?
                        <a asp-action="Login" asp-controller="User" class="">
                            Login
                        </a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>
