@model Habit.Models.Habits
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Habit</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="HabitName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="HabitName" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Frequency"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Frequency" class="form-control" disabled>
                            <option>Daily</option>
                            <option>Weekly</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="StartDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartDate" type="date" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="IsCompleted"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsCompleted" type="checkbox" disabled />
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100"
                                    onclick="return confirm('Are you sure you want to delete this habit?');">
                                Delete
                            </button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
